a {
	text-decoration: none;
}

a:visited {
	color: black;
}

.bg {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: black;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.gif {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 20px;
	left: 0;
	background-image: url("FLR.gif");
	background-position: center;
	background-size: 625px, 625px;
	background-repeat: no-repeat;
}

.name {
	position: absolute;
	width: 1024px;
	height: 700px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: auto;
}

.Brooklyn {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	top: 190px;
	font-family: 'Amatic SC', cursive;
	font-size: 120px;
	font-weight: 700;
	color: white;
}

.Botanic {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	top: 303px;
	font-family: 'Amatic SC', cursive;
	font-size: 120px;
	font-weight: 700;
	color: white;
}

.Garden {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	top: 415px;
	font-family: 'Amatic SC', cursive;
	font-size: 120px;
	font-weight: 700;
	color: white;
}

.bar {
	position: absolute;
	width: 100vw;
	height: 40px;
	left: 0;
	right: 0;
	top: 0;
	background-color: white;
	opacity: 0.95;
}

.wrapper {
	position: absolute;
	width: 1024px;
	height: 40px;
	top: 0;
	left: 0;
	right: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/*width: 1024px;
	height: 700px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;*/
	margin: auto;
}

.bbg {
	position: absolute;
	top: -5px;
	left: 60px;
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
	font-weight: 700;
	color: black;
	letter-spacing: 2px
}

.about {
	position: absolute;
	top: 11px;
	left: 160px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: black;
}

.about:hover {
	position: relative;
	cursor: pointer 
	opacity: .65;
    display: block;
}

.gardens {
	position: absolute;
	top: 11px;
	left: 280px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: black;
}

.visit {
	position: absolute;
	top: 11px;
	left: 425px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: black;
}

.resources {
	position: absolute;
	top: 11px;
	left: 525px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: black;
}

.donation {
	position: absolute;
	top: 11px;
	left: 675px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: black;
}

.fb {
	position: absolute;
	top: 2.5px;
	left: 825px;
	background-image: url('fb.png');
	width: 35px; 
	height: 35px;
	opacity: .55;
	background-repeat: no-repeat;
	background-size: contain;
	transition: background-size 0.15s ease-in-out; 
}

.fb:hover {
	position: relative;
	cursor: pointer 
	background-image: url('fb.png');
	opacity: .35;
    display: block;
}

.twitter {
	position: absolute;
	top: 2.5px;
	left: 877px;
	background-image: url('twitter.png');
	width: 35px; 
	height: 35px;
	opacity: .55;
	background-repeat: no-repeat;
	background-size: contain;
	transition: background-size 0.15s ease-in-out; 
}

.twitter:hover {
	position: relative;
	cursor: pointer 
	background-image: url('twitter.png');
	opacity: .35;
    display: block;
}

.ig {
    position: absolute;
	top: 2.5px;
	left: 929px;
	background-image: url('ig.png');
	width: 35px; 
	height: 35px;
	opacity: .55;
	background-repeat: no-repeat;
	background-size: contain;
	transition: background-size 0.15s ease-in-out; 
}

.ig:hover {
	position: relative;
	cursor: pointer 
	background-image: url('ig.png');
	opacity: .35;
    display: block;
}





.abt {
	position: absolute;
	width: 100vw;
	height: 35vh;
	top: 0;
	left: 0;
	background-image: url("abtpic.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.ABOUT {
	position: absolute;
	left: 0;
	right: 0;
    top: 27px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 150px;
	font-weight: 700;
	color: white;
}

.info {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: transparent;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.mission {
	position: absolute;
	left: 475px;
    top: 290px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: black;
}

.statement {
	position: absolute;
	top: 330px;
	left: 475px;
	padding-right: 100px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
}

.kidpic {
	position: absolute;
	width: 350px;
	height: 350px;
	top: 290px;
	left: 50px;
	background-image: url("kidpic.png");
	background-repeat: no-repeat;
	background-size: contain;
}





.vis {
	position: absolute;
	width: 100vw;
	height: 35vh;
	top: 0;
	left: 0;
	background-image: url("visitpic.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.VISIT {
	position: absolute;
	left: 0;
	right: 0;
    top: 27px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 150px;
	font-weight: 700;
	color: white;
}

.info2 {
	position: absolute;
	width: 100vw;
	height: 105vh;
	top: 0;
	left: 0;
	background-color: transparent;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.hours {
	position: absolute;
	left: 50px;
    top: 290px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: black;
}

.times {
	position: absolute;
	top: 330px;
	left: 50px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
}

.times2 {
	position: absolute;
	top: 330px;
	left: 350px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
}

.location {
	position: absolute;
	left: 350px;
    top: 590px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: black;
}

.place {
	position: absolute;
	top: 630px;
	left: 350px;
	/*padding-right: px;*/
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
}

.map {
	position: absolute;
	width: 35vw;
	height: 55vh;
	top: 300px;
	left: 620px;
	background-image: url("map.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.prices {
	position: absolute;
	left: 50px;
    top: 590px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: black;
}

.cost {
	position: absolute;
	top: 630px;
	left: 50px;
	/*padding-right: px;*/
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
}

.cost2 {
	position: absolute;
	top: 630px;
	left: 185px;
	/*padding-right: px;*/
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
}




.res {
	position: absolute;
	width: 100vw;
	height: 35vh;
	top: 0;
	left: 0;
	background-image: url("respic.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.RESOURCES {
	position: absolute;
	left: 0;
	right: 0;
    top: 27px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 150px;
	font-weight: 700;
	color: white;
}

.info3 {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: transparent;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.mailing {
	position: absolute;
	left: 45px;
    top: 290px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: black;
}

.adress {
	position: absolute;
	top: 330px;
	left: 50px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
}

.call {
	position: absolute;
	left: 45px;
    top: 430px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: black;
}

.number {
	position: absolute;
	top: 470px;
	left: 50px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
}

.email {
	position: absolute;
	left: 45px;
    top: 530px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: black;
}

.eadress {
	position: absolute;
	top: 570px;
	left: 50px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
}

.other {
	position: absolute;
	left: 345px;
    top: 290px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: black;
}

.otherinfo {
	position: absolute;
	top: 330px;
	left: 350px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
}

.otherinfo2 {
	position: absolute;
	top: 330px;
	left: 550px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
}

.otherinfo3 {
	position: absolute;
	top: 330px;
	left: 750px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
}






.don {
	position: absolute;
	width: 100vw;
	height: 35vh;
	top: 0;
	left: 0;
	background-image: url("donpic.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.DONATE {
	position: absolute;
	left: 0;
	right: 0;
    top: 27px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 150px;
	font-weight: 700;
	color: white;
}

.info4 {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: transparent;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.Help {
	position: absolute;
	left: 550px;
    top: 290px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: black;
}

.support {
	position: absolute;
	top: 330px;
	left: 550px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
}

.donatepic {
	position: absolute;
	top: 395px;
	left: 570px;
	background-image: url('donatepic.png');
	width: 210px; 
	height: 105px;
	opacity: .75;
	background-repeat: no-repeat;
	background-size: contain;
	transition: background-size 0.15s ease-in-out;
}

.donatepic:hover {
	position: relative;
	cursor: pointer 
	background-image: url('donatepic.png');
	opacity: .55;
    display: block;
}

.charity {
	position: absolute;
	left: 50px;
    top: 290px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: black;
}

.charitytext {
	position: absolute;
	top: 330px;
	left: 50px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
}






.gar {
	position: absolute;
	width: 100vw;
	height: 35vh;
	top: 0;
	left: 0;
	background-image: url("garden.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.GARDENS {
	position: absolute;
	left: 0;
	right: 0;
    top: 27px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 150px;
	font-weight: 700;
	color: white;
}

.seasons {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: transparent;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.Spring {
	position: absolute;
	top: 320px;
	left: 100px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: black;
}

.Summer {
	position: absolute;
	top: 320px;
	left: 335px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: black;
}

.Fall {
	position: absolute;
	top: 320px;
	left: 615px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: black;
}

.Winter {
	position: absolute;
	top: 320px;
	left: 830px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: black;
}

.Springpic {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 410px;
	left: 45px;
	background-image: url("springpic.png");
	background-repeat: no-repeat;
	background-size: contain;
	opacity: .75;
	transition: background-size 0.15s ease-in-out;
}

.Springpic:hover {
	position: relative;
	cursor: pointer 
	background-image: url('springpic.png');
	opacity: .55;
    display: block;
}

.Summerpic {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 410px;
	left: 290px;
	background-image: url("summerpic.png");
	background-repeat: no-repeat;
	background-size: contain;
	opacity: .75;
	transition: background-size 0.15s ease-in-out;
}

.Summerpic:hover {
	position: relative;
	cursor: pointer 
	background-image: url('summerpic.png');
	opacity: .55;
    display: block;
}

.Fallpic {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 410px;
	left: 545px;
	background-image: url("fallpic.png");
	background-repeat: no-repeat;
	background-size: contain;
	opacity: .75;
	transition: background-size 0.15s ease-in-out;
}

.Fallpic:hover {
	position: relative;
	cursor: pointer 
	background-image: url('fallpic.png');
	opacity: .55;
    display: block;
}

.Winterpic {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 410px;
	left: 780px;
	background-image: url("winterpic.png");
	background-repeat: no-repeat;
	background-size: contain;
	opacity: .75;
	transition: background-size 0.15s ease-in-out;
}

.Winterpic:hover {
	position: relative;
	cursor: pointer 
	background-image: url('winterpic.png');
	opacity: .55;
    display: block;
}






.springfav {
	position: absolute;
	width: 100vw;
	height: 130vh;
	top: 0;
	left: 0;
	background-color: transparent;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.Springfavorites {
	position: absolute;
	top: 50px;
	left: 60px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: black;
}

.magnoliapic {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 120px;
	left: 70px;
	background-image: url("magnoliapic.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.Magnoliainfo {
	position: absolute;
	top: 120px;
	left: 310px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
	padding-right: 120px;
}

.cherrypic {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 400px;
	left: 70px;
	background-image: url("cherrypic.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.Cherryinfo {
	position: absolute;
	top: 400px;
	left: 310px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
	padding-right: 120px;
}

.irispic {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 680px;
	left: 70px;
	background-image: url("irispic.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.Irisinfo {
	position: absolute;
	top: 680px;
	left: 310px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
	padding-right: 120px;
}






.summerfav {
	position: absolute;
	width: 100vw;
	height: 130vh;
	top: 0;
	left: 0;
	background-color: transparent;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.Summerfavorites {
	position: absolute;
	top: 50px;
	left: 60px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: black;
}

.Hibiscuspic {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 120px;
	left: 70px;
	background-image: url("hibiscuspic.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.Hibiscusinfo {
	position: absolute;
	top: 120px;
	left: 310px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
	padding-right: 120px;
}

.Artichokepic {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 400px;
	left: 70px;
	background-image: url("artichokepic.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.Artichokeinfo {
	position: absolute;
	top: 400px;
	left: 310px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
	padding-right: 120px;
}

.rosepic {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 680px;
	left: 70px;
	background-image: url("rosepic.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.roseinfo {
	position: absolute;
	top: 680px;
	left: 310px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
	padding-right: 120px;
}







.fallfav {
	position: absolute;
	width: 100vw;
	height: 130vh;
	top: 0;
	left: 0;
	background-color: transparent;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.Fallfavorites {
	position: absolute;
	top: 50px;
	left: 60px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: black;
}

.rhuspic {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 400px;
	left: 70px;
	background-image: url("rhuspic.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.Rhusinfo {
	position: absolute;
	top: 400px;
	left: 310px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
	padding-right: 120px;
}

.sedumpic {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 120px;
	left: 70px;
	background-image: url("sedumpic.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.Seduminfo {
	position: absolute;
	top: 120px;
	left: 310px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
	padding-right: 120px;
}

.sunrosepic {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 680px;
	left: 70px;
	background-image: url("sunrose.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.Sunroseinfo {
	position: absolute;
	top: 680px;
	left: 310px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
	padding-right: 120px;
}






.winterfav {
	position: absolute;
	width: 100vw;
	height: 130vh;
	top: 0;
	left: 0;
	background-color: transparent;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.Winterfavorites {
	position: absolute;
	top: 50px;
	left: 60px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: black;
}

.witchpic {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 400px;
	left: 70px;
	background-image: url("witchpic.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.Witchinfo {
	position: absolute;
	top: 400px;
	left: 310px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
	padding-right: 120px;
}

.pinepic {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 120px;
	left: 70px;
	background-image: url("pinepic.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.Pineinfo {
	position: absolute;
	top: 120px;
	left: 310px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
	padding-right: 120px;
}

.fernpic {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 680px;
	left: 70px;
	background-image: url("fernpic.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.Ferninfo {
	position: absolute;
	top: 680px;
	left: 310px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: black;
	padding-right: 120px;
}

