body { 
  margin: 0;
  padding: 0;
  background-color: yellow;
}

.M {
  position: absolute;
  top: .5vw;
  left: 26vw;
  width: 50vw;
  height: 50vw;
  background-image: url(molecule.png);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: animationA;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; 
}

.button1 {
  position: absolute;
  top: 9vw;
  left: 36.27vw;
  width: 30vw;
  height: 30vw;
  background-image: url(redbutton.png);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: swapImage;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.button2 {
  position: absolute;
  top: 9vw;
  left: 36.27vw;
  width: 30vw;
  height: 30vw;
  background-image: url(blackbutton.png);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: swapImage;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.H {
  position: absolute;
  top: 11.5vw;
  left: 37.5vw;
  width: 27vw;
  height: 27vw;
  background-image: url(rocket.png);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: animationB;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; 
}

  @keyframes animationA {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

  @keyframes animationB {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes swapImage {
  0% {
    background-image: url(redbutton.png);
  }
  12% {
    background-image: url(blackbutton.png);
  }
  24% {
    background-image: url(redbutton.png);
  }  
  36% {
    background-image: url(blackbutton.png);
  }  
  48% {
    background-image: url(redbutton.png);
  }  
  60% {
    background-image: url(blackbutton.png);
  }
  72% {
    background-image: url(redbutton.png);
  }
  84% {
    background-image: url(blackbutton.png);
  }  
  94% {
    background-image: url(redbutton.png);
  }  
  100% {
    background-image: url(blackbutton.png);
  }  
    
}