body { 
  margin: 0;
  padding: 0;
  background-color: rgb(255,240,0);
}


.M {
  position: absolute;
  top: .5vw;
  left: 26vw;
  width: 50vw;
  height: 50vw;
  background-image: url(molecule.gif);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: animationA;
  animation-duration: 120s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; 
}



.button1 {
  position: absolute;
  top: 9vw;
  left: 36.27vw;
  width: 30vw;
  height: 30vw;
  background-image: url(redbutton.png);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: swapImage;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.button2 {
  position: absolute;
  top: 9vw;
  left: 36.27vw;
  width: 30vw;
  height: 30vw;
  background-image: url(blackbutton.png);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: swapImage;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.H {
  position: absolute;
  top: 13vw;
  left: 39.5vw;
  width: 24vw;
  height: 24vw;
  background-image: url(rocket.png);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: animationB;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; 
}




  @keyframes animationA {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

  @keyframes animationB {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes swapImage {
  0% {
    background-image: url(redbutton.png);
  }
  12% {
    background-image: url(blackbutton.png);
  }
  24% {
    background-image: url(redbutton.png);
  }  
  36% {
    background-image: url(blackbutton.png);
  }  
  48% {
    background-image: url(redbutton.png);
  }  
  60% {
    background-image: url(blackbutton.png);
  }
  72% {
    background-image: url(redbutton.png);
  }
  84% {
    background-image: url(blackbutton.png);
  }  
  94% {
    background-image: url(redbutton.png);
  }  
  100% {
    background-image: url(blackbutton.png);
  }  
    
}

.normal.alarm {
	display: none;
}











.button {
  position: absolute;
  top: 17vw;
  left: 25vw;
  width: 50vw;
  height: 16.7vw;
  background-image: url(evacuate.png);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat; 
}


.bar {
  position: absolute;
  top: 3vw;
  width: 100vw;
  height: 7vw;
  background-color: black;
}

.bar2 {
  position: absolute;
  bottom: 3vw;
  width: 100vw;
  height: 7vw;
  background-color: black;
}

.hour {
  position: absolute;
  top: 10vw;
  left: -2.5vw;
  width: 30vw;
  height: 30vw;
  background-image: url(sign.png);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat; 
}

.hour2 {
  position: absolute;
  top: 10vw;
  right: -2.5vw;
  width: 30vw;
  height: 30vw;
  background-image: url(sign.png);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat; 
}

/*.minute {
  position: absolute;
  top: 10vw;
  left: 2vw;
  width: 30vw;
  height: 30vw;
  background-image: url(boom.png);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: swapImageB;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;  
}

.minute2 {
  position: absolute;
  top: 10vw;
  right: 2vw;
  width: 30vw;
  height: 30vw;
  background-image: url(boom.png);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: swapImageB;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;  
}

.greyminute {
  position: absolute;
  top: 10vw;
  left: 2vw;
  width: 30vw;
  height: 30vw;
  background-image: url(boom2.png);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: swapImageB;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;  
}

.greyminute2 {
  position: absolute;
  top: 10vw;
  right: 2vw;
  width: 30vw;
  height: 30vw;
  background-image: url(boom2.png);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: swapImageB;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;  
}*/









.container {
  margin: auto;
  top: 2vw
  width: 100vw;
  height: 7vw;
  background-color: transparent;
}

.path {
  position: relative;
  overflow: hidden;
  top: 2.5vw;
  width: 100vw;
  height: 7vw;
  background-color: transparent;
  margin: auto;
}
.shape {
  position: absolute;
  left: 0;
  display: block;
  top: -1.7vw;
  width: 40vw;
  height: 23vh;
  background-image: url(warningR.png);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;

  
  x-transition: all 1s ease-in-out;
  animation: ani 1.7s infinite;
}





.container2 {
  margin: auto;
  top: 55vw
  width: 100vw;
  height: 7vw;
  background-color: transparent;
}

.path2 {
  position: relative;
  overflow: hidden;
  top: 34vw;
  width: 100vw;
  height: 7vw;
  background-color: transparent;
  margin: auto;
}
.shape2 {
  position: absolute;
  left: 0;
  display: block;
  top: -2.3vw;
  width: 40vw;
  height: 23vh;
  background-image: url(warningR.png);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;

  
  x-transition: all 1s ease-in-out;
  animation: anima 1.7s infinite;
}





@keyframes ani {
  0% {
    left: 0;
  }
  50% {
    left: 65vw;
  }
  100% {
    left: 0;
  }
}


@keyframes anima {
  100% {
    left: 65vw;
  }
  50% {
    left: 0;
  }
  0% {
    left: 65vw;
  }
}














/*
@keyframes swapImageB {
  0% {
    background-image: url(boom.png);
  }
  12% {
    background-image: url(boom2.png);
  }
  24% {
    background-image: url(boom.png);
  }  
  36% {
    background-image: url(boom2.png);
  }  
  48% {
    background-image: url(boom.png);
  }  
  60% {
    background-image: url(boom2.png);
  }
  72% {
    background-image: url(boom.png);
  }
  84% {
    background-image: url(boom2.png);
  }  
  94% {
    background-image: url(boom.png);
  }  
  100% {
    background-image: url(boom2.png);
  }  
    
}*/

.message {
	display: none;
}

.message.alarm {
	display: block;
}