@media (max-width: 375px) {

.paper {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-image: url(paper.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.wanted {
	position: absolute;
	width: 95vw;
	height: 21.1vh;
	top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	background-image: url(WantedNew.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.landpicture {
	position: absolute;
	width: 330px; 
	height: 165px;
	top: 205px;
	left: 22px;
	background-image: url("horsepic.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.billythekidpicture {
	position: absolute;
	width: 155px; 
	height: 155px;
	top: 385px;
	left: 22px;
	background-image: url("billythekidpic.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.butchcassidypicture {
	position: absolute;
	width: 155px; 
	height: 155px;
	top: 385px;
	left: 197px;
	background-image: url("butchcassidypic.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.sundancekidpicture {
	position: absolute;
	width: 155px; 
	height: 155px;
	top: 565px;
	left: 22px;
	background-image: url("sundancekidpic.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.jessejamespicture {
	position: absolute;
	width: 155px; 
	height: 155px;
	top: 565px;
	left: 197px;
	background-image: url("jessejamespic.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.Bar {
	position: fixed;
	width: 100vw; 
	height: 60px;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: -100px
	padding-bottom: 100px;
	background-color: black;
	opacity: .7;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.sources {
	position: fixed;
	width: 100vw; 
	height: 80px;
	left: 0;
	right: 0;
	bottom: 3px;
	margin-top: -100px
	padding-bottom: 100px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mainpagepic {
	position: absolute;
	width: 150px; 
	height: 75px;
	left: 10px;
	right: 0;
	top: 15px;
	background-image: url("mainpage.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.Kpic {
	position: absolute;
	width: 35px; 
	height: 35px;
	top: 36px;
	right: 122px;
	background-image: url("K.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.Wpic {
	position: absolute;
	width: 35px; 
	height: 35px;
	top: 36px;
	right: 165px;
	background-image: url("W.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.Bpic {
	position: absolute;
	width: 35px; 
	height: 35px;
	top: 36px;
	right: 80px;
	background-image: url("B.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.Spic {
	position: absolute;
	width: 35px; 
	height: 35px;
	top: 36px;
	right: 43px;
	background-image: url("S.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.Jpic {
	position: absolute;
	width: 35px; 
	height: 35px;
	top: 36px;
	right: 10px;
	background-image: url("J.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}



















.BG1 {
	width: 100vw;
	height: 1773vh;
	top: 0;
	left: 0;
	position: absolute;
	background-color: rgb(219,219,217);
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	opacity: .3;
}

.article1 {
	position: absolute;
	left: 20px;
    top: 10px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Rye', cursive;
	font-size: 40px;
	font-weight: 400;
	color: rgb(164,72,36);
}

.howwildbodytext1 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 115px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-weight: 400;
	color: rgb(61,32,23);
}











.wildtitle1 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 1360px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Sancreek', cursive;
	font-size: 20px;
	font-weight: 400;
	color: rgb(61,32,23);
}

.westland {
	position: absolute;
	width: 400px; 
	height: 200px;
	top: 1420px;
	right: 0px;
	background-image: url("land.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.howwildbodytext2 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 1615px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-weight: 400;
	color: rgb(61,32,23);
}

.quote1 {
	position: absolute;
	left: 35px;
	right: 35px;
    top: 1905px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	color: rgb(164,72,36);
	font-size: 20px;
	font-weight: 400;
}












.wildtitle2 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 2630px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Sancreek', cursive;
	font-size: 20px;
	font-weight: 400;
	color: rgb(61,32,23);
}

.outlawspic {
	position: absolute;
	width: 230px; 
	height: 460px;
	top: 2610px;
	left: 25px;
	background-image: url("outlaws.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.howwildbodytext3 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 2990px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-weight: 400;
	color: rgb(61,32,23);
}










.wildtitle3 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 5120px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Sancreek', cursive;
	font-size: 20px;
	font-weight: 400;
	color: rgb(61,32,23);
}

.howwildbodytext4 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 5150px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-weight: 400;
    color: rgb(61,32,23);
}

.quote2 {
	position: absolute;
	left: 35px;
	right: 35px;
    top: 5895px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	color: rgb(164,72,36);
	font-size: 20px;
	font-weight: 400;
}










.wildtitle4 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 6660px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Sancreek', cursive;
	font-size: 20px;
	font-weight: 400;
	color: rgb(61,32,23);
}

.goldpic {
	position: absolute;
	width: 300px; 
	height: 600px;
	top: 6520px;
	left: 25px;
	background-image: url("gold.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.howwildbodytext5 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 6910px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-weight: 400;
	color: rgb(61,32,23);
}










.wildtitle5 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 7495px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Sancreek', cursive;
	font-size: 20px;
	font-weight: 400;
	color: rgb(61,32,23);
}
.trainpic {
	position: absolute;
	width: 350px; 
	height: 175px;
	top: 7555px;
	left: 5px;
	background-image: url("train.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

}

.howwildbodytext6 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 7725px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-weight: 400;
	color: rgb(61,32,23);
}

.quote3 {
	position: absolute;
	left: 35px;
	right: 35px;
    top: 8026px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	color: rgb(164,72,36);
	font-size: 20px;
	font-weight: 400;
}













.wildtitle6 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 9015px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Sancreek', cursive;
	font-size: 20px;
	font-weight: 400;
	color: rgb(61,32,23);
}

.howwildbodytext7 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 9045px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-weight: 400;
	color: rgb(61,32,23);
}












.wildtitle7 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 10005px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Sancreek', cursive;
	font-size: 20px;
	font-weight: 400;
	color: rgb(61,32,23);
}

.drawpic {
	position: absolute;
	width: 420px; 
	height: 210px;
	top: 10065px;
	left: -45px;
	background-image: url("draw.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.howwildbodytext8 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 10275px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-weight: 400;
	color: rgb(61,32,23);
}












.wildtitle8 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 11100px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Sancreek', cursive;
	font-size: 20px;
	font-weight: 400;
	color: rgb(61,32,23);
}

.howwildbodytext9 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 11125px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-weight: 400;
	color: rgb(61,32,23);
}

.quote4 {
	position: absolute;
	left: 35px;
	right: 35px;
    top: 12003px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	color: rgb(164,72,36);
	font-size: 20px;
	font-weight: 400;
}











.wildtitle9 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 12315px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Sancreek', cursive;
	font-size: 20px;
	font-weight: 400;
	color: rgb(61,32,23);
}

.howwildbodytext10 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 12340px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-weight: 400;
	color: rgb(61,32,23);
}












.wildtitle10 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 13515px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Sancreek', cursive;
	font-size: 20px;
	font-weight: 400;
	color: rgb(61,32,23);
}

.okpic {
	position: absolute;
	width: 380px; 
	height: 190px;
	top: 13575px;
	left: -15px;
	background-image: url("OK.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.howwildbodytext11 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 13755px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-weight: 400;
	color: rgb(61,32,23);
}

.quote5 {
	position: absolute;
	left: 35px;
	right: 35px;
    top: 14022px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	color: rgb(164,72,36);
	font-size: 20px;
	font-weight: 400;
}












.BG2 {
	width: 100vw;
	height: 354vh;
	top: 0;
	left: 0;
	position: absolute;
	background-color: rgb(219,219,217);
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	opacity: .3;
}

.article2 {
	position: absolute;
	left: 15px;
	right: 5px;
    top: 10px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Rye', cursive;
	font-size: 33px;
	font-weight: 400;
	color: rgb(164,72,36);
}

.billypic1 {
	position: absolute;
	width: 290px; 
	height: 290px;
	top: 235px;
	left: 22px;
	background-image: url("billyface.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.billybodytext1 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 530px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-weight: 400;
	color: rgb(61,32,23);
}

.billyposterpic {
	position: absolute;
	width: 350px; 
	height: 350px;
	top: 720px;
	left: -37px;
	background-image: url("billyposter.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.billyquote1 {
	position: absolute;
	left: 35px;
	right: 35px;
    top: 1335px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	color: rgb(164,72,36);
	font-size: 20px;
	font-weight: 400;
}

.billybrushybillpic {
	position: absolute;
	width: 250px; 
	height: 250px;
	top: 2115px;
	left: 10px;
	background-image: url("Brushy_Bill_Roberts.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.billyquote2 {
	position: absolute;
	left: 35px;
	right: 35px;
    top: 2380px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	color: rgb(164,72,36);
	font-size: 20px;
	font-weight: 400;
}
















.BG3 {
	width: 100vw;
	height: 755vh;
	top: 0;
	left: 0;
	position: absolute;
	background-color: rgb(219,219,217);
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	opacity: .3;
}

.article3 {
	position: absolute;
	left: 20px;
	right: 20px;
    top: 10px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Rye', cursive;
	font-size: 30px;
	font-weight: 400;
	color: rgb(164,72,36);
}

.butchandsundancekidpic {
	position: absolute;
	width: 400px; 
	height: 200px;
	top: 320px;
	left: -22px;
	background-image: url("butchandsundancekid.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.truestorybodytext {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 520px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-weight: 400;
	color: rgb(61,32,23);
}

.truestoryquote1 {
	position: absolute;
	left: 35px;
	right: 35px;
    top: 1450px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	color: rgb(164,72,36);
	font-size: 20px;
	font-weight: 400;
}

.truestoryquote2 {
	position: absolute;
	left: 35px;
	right: 35px;
    top: 3148px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	color: rgb(164,72,36);
	font-size: 20px;
	font-weight: 400;
}

.butchandsundancekidmugpic {
	position: absolute;
	width: 200px; 
	height: 400px;
	top: 4990px;
	left: 22px;
	background-image: url("butchandsundancekidmug.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

















.BG4 {
	width: 100vw;
	height: 456vh;
	top: 0;
	left: 0;
	position: absolute;
	background-color: rgb(219,219,217);
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	opacity: .3;
}

.article4 {
	position: absolute;
	left: 20px;
	right: 20px;
    top: 10px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Rye', cursive;
	font-size: 35px;
	font-weight: 400;
	color: rgb(164,72,36);
}

.mysteriousbutchandsundancepic {
	position: absolute;
	width: 400px; 
	height: 200px;
	top: 230px;
	left: -52px;
	background-image: url("mysteriousbutchandsundance.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.MysteriousDeathsbodytext1 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 430px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-weight: 400;
	color: rgb(61,32,23);
}

.mysteriousbutchandsundancepic2 {
	position: absolute;
	width: 400px; 
	height: 200px;
	top: 1598px;
	left: -22px;
	background-image: url("mysteriousbutchandsundance2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.mysteriousdeathquote1 {
	position: absolute;
	left: 35px;
	right: 35px;
    top: 2605px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	color: rgb(164,72,36);
	font-size: 20px;
	font-weight: 400;
}












.BG5 {
	width: 100vw;
	height: 401vh;
	top: 0;
	left: 0;
	position: absolute;
	background-color: rgb(219,219,217);
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	opacity: .3;
}

.article5 {
	position: absolute;
	left: 20px;
	right: 20px;
    top: 10px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Rye', cursive;
	font-size: 35px;
	font-weight: 400;
	color: rgb(164,72,36);
}

.jessefacepic {
	position: absolute;
	width: 300px; 
	height: 300px;
	top: 230px;
	left: 22px;
	background-image: url("jesseface.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.BecomeAnOutlawtext1 {
	position: absolute;
	left: 25px;
	right: 25px;
    top: 530px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-weight: 400;
	color: rgb(61,32,23);
}

.jessekidpic {
	position: absolute;
	width: 300px; 
	height: 600px;
	top: 945px;
	left: 22px;
	background-image: url("jessekid.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.BecomeAnOutlawquote {
	position: absolute;
	left: 35px;
	right: 35px;
    top: 2083px;
	margin: 15px auto;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	color: rgb(164,72,36);
	font-size: 20px;
	font-weight: 400;
}



















/*.wildtitle1 {

	}*/

}